*{margin: 0;padding: 0;}

body{
    background: url(../media/images/background.png);
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100% 100%;
    color: whitesmoke;
}

.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.match-predict-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.match{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.team{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-name{
    font-size: 1em;
    margin: 5px;
}

.team-flag{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
    background-size: 180%!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    cursor: pointer;
}

.team-flag input[type="radio"]{
    appearance: none;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border: none;
    outline: none;
    background: transparent;
}

.team-flag input:checked{
    opacity: 1;
}

.team-flag input::after{
    content: " ";
    width: 100px;
    height: 100px;
    background: url(../media/images/icons/tick.png);
    background-size: 100% 100%;
    background-position: center;
    display: none;
}

.team-flag input:checked::after{
    display: flex;
    justify-content: center;
    align-items: center;
}


.team-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.choices{
    cursor: pointer;
}

.score-board{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4em;
}

.score-display{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score{
    width: 1em;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1em;
    background: transparent;
    color: white;
}

.space-between{
    background: transparent;
}

.draw{
    font-size: 0.2em;
    padding: 2%;
    background: red;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.draw input[type="radio"]{
    appearance: none;
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.draw input[type="radio"]:checked{
    background: rgba(255, 255, 0, 0.452);
}


.draw label{
    cursor: pointer;
}


.form-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

#playerId{
    padding: 20px;
    border: none;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.425);
    outline: none;
    text-align: center;
}

#submit{
    padding: 20px;
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    background: rgb(0, 153, 255);
    color: whitesmoke;
    font-weight: bold;
}

.time{
    font-size:0.2em;
    text-align: center;
}

.exit{
    text-decoration: none;
    color: rgb(5, 54, 117);
    padding: 1%;
    background: white;
    margin: 10px;
}

@media only screen and (max-width: 1080px) {
    .team-flag{
        width: 70px;
        height: 70px;
    }

    .score-board{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }

    .draw{
        font-size: 0.5em;
    }

    .time{
        font-size: 0.5em;
    }
    .team-name{
        font-size: 1em;
    }
}

.notification{
    width: 62%;
    padding-bottom: 4.5em;
    padding-left: 2em;
    padding-right: 2em;
    height: 0px;
    background-color: transparent;
    border-radius: 10px;
    color: black;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    transition:  0.5s;
    overflow: hidden;
    cursor: pointer;
}

.notification-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 0.5em;
    margin: 0px auto;
    color: white;
    text-shadow: 0px 0px 3px black;
    transition: 1s;
}

.notification p{
    font-size: 1.5em;
    line-height: 2.5em;
}

.notification:hover{
    height: 250px;
    background-color: rgba(255, 255, 255, 0.842);
    overflow: auto;

}

.notification:hover h1{
    color: red;
}

@media only screen and (max-width: 821px) {
    body{
        background: url(../media/images/mobile-background.png);
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
    }
    .team-name{
        font-size: 0.6em;
    }
    .draw{
        font-size: 0.3em;
    }
}