<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        
    </div>
    <div class="wrapper">
        <div class="container">
            <form class="match-predict-form" action="/match" method="POST">
                <div class="match current">
                    <div class="team-group">

                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Flag_of_Morocco.svg/2560px-Flag_of_Morocco.svg.png);">

                            </div>
                            <h1 class="team-name">Morocco</h1>
                        </div>
                        <div class="score-board">
                            <h1 class="time" id="team1-coundown"></h1>                                                
                            <div class="score-display">
                                <input type="text" class="score"  name="team1score" placeholder="0" onClick="this.select();"/>
                                <div class="space-between">-</div>
                                <input type="text" class="score"  name="team2score" placeholder="0" onClick="this.select();"/>
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Flag_of_Banate_of_Croatia_%281939-1941%29.svg/3000px-Flag_of_Banate_of_Croatia_%281939-1941%29.svg.png);">

                            </div>
                            <h1 class="team-name">Croatia</h1>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="team-group">
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_Germany_as_seen_in_Tagesschau.jpg);">

                            </div>
                            <h1 class="team-name">Đức</h1>
                        </div>
                        <div class="score-board">    
                            <h1 class="time" id="team2-coundown"></h1>  
                            <div class="score-display">    
                                <input type="text" class="score" name="team3score" placeholder="0" onClick="this.select();"/>
                                <div class="space-between">-</div>
                                <input type="text" class="score" name="team4score"  placeholder="0" onClick="this.select();"/>
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/2560px-Flag_of_Japan.svg.png);">

                            </div>
                            <h1 class="team-name">Nhật Bản</h1>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="team-group">
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/2560px-Flag_of_Spain.svg.png);">

                            </div>
                            <h1 class="team-name">Tây Ban Nha</h1>
                        </div>
                        <div class="score-board">  
                            <h1 class="time" id="team3-coundown"></h1>
                            <div class="score-display">    
                                <input type="text" class="score" name="team5score" placeholder="0" onClick="this.select();"/>
                                <div class="space-between">-</div>
                                <input type="text" class="score" name="team6score" placeholder="0" onClick="this.select();"/>
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Flag_of_Costa_Rica_%281848-1906%29.svg/2560px-Flag_of_Costa_Rica_%281848-1906%29.svg.png);">

                            </div>
                            <h1 class="team-name">Costa Rica</h1>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="team-group">
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Flag_of_Belgium.svg/2363px-Flag_of_Belgium.svg.png);">

                            </div>
                            <h1 class="team-name">Bỉ</h1>
                        </div>
                        <div class="score-board">  
                            <h1 class="time" id="team4-coundown"></h1>
                            <div class="score-display">    
                                <input type="text" class="score" name="team7score" value=0  placeholder="0" onClick="this.select();"/>
                                <div class="space-between">-</div>
                                <input type="text" class="score" name="team8score" value=0 placeholder="0" onClick="this.select();"/>
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/b/b6/Flag_of_Canada.png);">

                            </div>
                            <h1 class="team-name">Australia</h1>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="playerId" id="playerId" placeholder="Vui lòng nhập đúng tên đăng nhập" required oninvalid="this.setCustomValidity('Vui lòng điền tên tài khoản')" oninput="this.setCustomValidity('')">
                    <input type="submit" id="submit" value="Xác Nhận">
                </div>                
            </form>
        </div>
    </div>
    <script src="/script/countdown.js"></script>
    <script src="/script/script.js"></script>
</body>
</html>